# This is a basic workflow to help you get started with Actions

name: Docker Build & Push

on:
  push:
    tags:        
      - '*'           # Push events to every tag not containing /
  pull_request:
    types:
      - closed
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

env:
  DOCKER_USERNAME: slothcroissant
  DOCKER_CONTAINER_NAME: caddy-cloudflaredns
  DOCKER_TARGET_PLATFORM: linux/amd64

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Prepare
      if: success()
      id: prepare
      run: |
        echo ::set-output name=docker_platform::${DOCKER_TARGET_PLATFORM}
        echo "::set-output name=tag::$(git describe --tags --abbrev=0)"
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build container and Push
      uses: docker/build-push-action@v3
      with:
        context: .
        platforms: ${{ steps.prepare.outputs.docker_platform }}
        push: true
        tags: |
          ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_CONTAINER_NAME }}:${{ steps.prepare.outputs.tag }}
          ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_CONTAINER_NAME }}:latest
